@import url('https://fonts.googleapis.com/css?family=Jura');


#city_animation{
  background-color: red;
  height: 50vh !important;
  width: 100%;
}

#gtco-logo{
  font-family: Jura;
}

#logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
