@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@400&display=swap');

:root{ }

.fa-merienda {
  font-family:'Merienda One', cursive;
}

.mg-body{
  margin: 10%;
}

@media print {
  .no-print{
      display: none;
  }
  .mg-body{
    margin: 50px;
  }
}
