@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@400&display=swap');

#canvas{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#cv{
  background: rgba(255,255,255, 0.9);
  transition: 1s;
  padding: 50px;
}

#cv:hover{
  background: rgba(255,255,255, 1 );
  transition: 1s;
}

:root{}
.fa-merienda {
  font-family:'Merienda One', cursive;
}

.mg-body{
  margin: 5% 20%;
}

@media (max-width: 1380px) {
  .mg-body{
    margin: 5% 10%;
  }
}

.page-break {
  display: none;
}

@media print {
  #cv{
    padding: 0%;
  }

  .no-print{
    display: none;
  }

  .mg-body{
    margin: 50px;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }
}
