@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@400&display=swap');
:root{
  --primary: #44565e;
  --secundary: #a9a9a9;
  --border: 1px solid var(--secundary);
  --font-size: 0.9rem;
}

a{
  text-decoration: none;
  color: inherit;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  font-size: var(--font-size);
}

.info div {
  font-size: 1em;
}

@media print {
  :root{
    --border: 1px solid var(--primary);
  }
}

#name{
   margin: auto;
}

#name h3{
  font-family:'Merienda One', cursive;
  width: 100%;
  text-align: center;
  color: #1E747C;
  font-size: 50px;
  padding: auto;
  /* text-shadow: 2px 2px 2px #FFFFFF; */
  padding-bottom: 10px;
  transition-delay: 0s;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  transition: width 1s;
}

#name:hover h3{
  width: 90px;
  transition-delay: 0s;
  transition: width 0.5s;
  margin: auto;
}

#city_animation{
  background-color: grey;
  height: calc(82px);
  width: 80%;
  position: absolute;
  /* top: 0; */
  z-index: -1;
}


#main-info , .table{
  width:100%;
}

#main-info{
  padding: 10px 0px;
  border-top: var(--border);
  height:20px;
}

#main-info div, #main-info a {
  font-size: 0.8em !important;
}

#main-info div {
  text-align:center;
  width: 20%;
  float: left;
}

.separator{
  width:calc(100% - 30px);
  height: var(--font-size);
  padding: 2px;
  padding-bottom: 0.3rem;
  border-bottom: var(--border);
  text-indent: 1.5rem;
  font-weight: bold;
  margin: 0 15px;
  color: var(--primary);
  font-style: italic;
}

.col{
  width: 100%;
  padding: 0.5rem 0px;
  font-size: var(--font-size);
}

#table{
  width:100%;
}

#table tr td:first-child , .table tr td:first-child{
  font-weight: bold;
}

.job-position{
  width: 100%;
  height: var(--font-size);
}

.job-position div{
  float:left;
  font-weight: bold;
}

.job-position div:last-child{
  font-style: italic;
  float:right;
}

.w50{
  width: 50%;
  float: left;
}

body{
  margin: 5% 10%;
  margin-bottom: 25%;
}

@media print {
  body{ margin: 0px }
  #city_animation{
    display: none;
  }
}
