.experiences .skills-bucket{
  margin-top: 5px;
  margin-bottom: 5px;
}

.educations {
  font-size: .7em;
}

.skills-bucket li {
  text-decoration: none !important;
  list-style-type: none;
  font-size: .7em;
  padding: 0 4px;
  color: var(--secondary);
  border-radius: 0px 5px;
  transition: 0.5s;
}

.buckets li {
  text-decoration: none !important;
  list-style-type: none;
  font-size: .7em;
  padding: 0 4px;
  color: var(--secondary);
}

.skill-selected {
  background-color: var(--color-blod);
  color: white !important;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0px 5px;
}
